.about {
    padding-bottom: 2rem;
    &__bio-image {
        height: 65vh;
        width: 100%;
        background: linear-gradient( to right, rgba($primary-color, 0.9), rgba($primary-color, 0.3)), url('../images/image-1.jpg') center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        .text-secondary {
            font-size: 3rem;
            margin-bottom: 2rem;
            &-history {
                padding: 1rem 1rem;
                margin-bottom: 2rem;
                text-align: center;
                color: set-text-color-white($secondary-color);
            }
            &-catchphrase {
                color: set-text-color-white($secondary-color);
                text-align: center;
                border-bottom: 2px solid $secondary-color;
                margin-bottom: 1rem;
                padding: 1rem 1rem;
            }
            &-staff {
                font-size: x-large;
                margin-bottom: 1rem;
            }
        }
    }
    &__items {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
    &__item {
        position: relative;
        border-bottom: 3px solid $secondary-color;
        overflow: hidden;
        cursor: pointer;
        img {
            width: 100%;
        }
        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            height: 100%;
            width: 100%;
            background: $secondary-color;
            opacity: 0;
            @include transition-ease;
        }
        &:hover {
            &::after {
                top: 0;
                opacity: 0.9;
            }
            .about__btn {
                opacity: 1;
            }
        }
    }
    &__item-name {
        font-size: large;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    &__item-role {
        font-size: larger;
        text-align: center;
        margin-bottom: 0.5rem;
        color: $secondary-color;
    }
    &__btns {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        text-align: center;
    }
    &__btn {
        opacity: 0;
        color: set-text-color-white($secondary-color);
        @include transition-ease;
        &:hover {
            color: set-text-color-white(set-text-color-black($secondary-color));
        }
    }
    .social-icons {
        display: flex;
        flex-direction: column;
    }
    footer {
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}