$primary-color: #272727;
$secondary-color: #ff652f;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin btn {
    background-color: $secondary-color;
    border: none;
    color: $primary-color;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    &:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
}

@function set-text-color-white($color) {
    //black
    @if (lightness($color) > 40%) {
        @return #fff;
    }
    @else {
        @return #000;
    }
}

@function set-text-color-black($color) {
    //white
    @if (lightness($color) > 40%) {
        @return #000;
    }
    @else {
        @return #fff;
    }
}

@mixin galaxy-flod {
    @media screen and (min-width: 280px) {
        @content;
    }
}

@mixin galaxy-s8-plus {
    @media screen and (min-width: 360px) {
        @content;
    }
}

@mixin iphone-se {
    @media screen and (min-width: 375px) {
        @content;
    }
}

@mixin iphone-12-pro {
    @media screen and (min-width: 390px) {
        @content;
    }
}

@mixin galaxy-s20-ultra {
    @media screen and (min-width: 412px) {
        @content;
    }
}

@mixin iphone-xr {
    @media screen and (min-width: 414px) {
        @content;
    }
}

@mixin surface-duo {
    @media screen and (min-width: 540) {
        @content;
    }
}

@mixin ipad-mini {
    @media screen and (min-width: 768) {
        @content;
    }
}

@mixin ipad-air {
    @media screen and (min-width: 820) {
        @content;
    }
}

@mixin surface-pro-7 {
    @media screen and (min-width: 912) {
        @content;
    }
}

@mixin nest-hub {
    @media screen and (min-width: 1024) {
        @content;
    }
}

@mixin nest-hub-max {
    @media screen and (min-width: 1280) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}