.references {
  &__bio-image {
    height: 45vh;
    width: 100%;
    background: linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.3)
      ),
      url("../images/image-2.jpg") center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    p {
      margin-bottom: 2rem;
    }
  }
  &__bio {
    width: 80%;
    text-align: center;
    .text-secondary {
      padding-bottom: 2rem;
    }
  }
  .customers {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    &__customer {
      background: lighten($primary-color, 10%);
      padding: 0.5rem;
      border-bottom: 5px solid $secondary-color;
      h2,
      h3 {
        margin: 0.5rem 0;
        text-align: center;
      }
      &-rating {
        margin-top: 1rem;
        .checked {
          color: orange;
        }
        .points {
          font-size: larger;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
